body{
    background-image: url(https://github.com/Matkronh/ToDoList/blob/main/imgs/seamless%20space.PNG?raw=true);
}

.ID3{
    display: flex;
    justify-content:left;
    background-color: rgba(2, 136, 180, 0.589);
    opacity: 100%;
    margin-top: 20px;
    border-radius: 25px;
    border-style: double;
    margin-right: 55px;
}

.ID4{
    display: flex;
    justify-content:right;
    background-color: rgba(2, 136, 180, 0.589);
    opacity: 100%;
    margin-top: 20px;
    border-radius: 25px;
    border-style: double;
    margin-right: 55px;
}

.button2{
    height: 35px;
    margin-top: 16px;
    margin-left: 10px;
    color: white;
    background-color: blueviolet;
    border-radius: 15px;
    text-decoration: wavy;
    border-style: outset;
    font-size: 18px;
    width: 120px;
    font-weight: 700;
    margin-right: 10px;
}

.button1{
    height: 25px;
    margin-top: 12px;
    margin-left: 10px;
    color: blueviolet;
    background-color: white;
    border-radius: 15px;
    text-decoration: wavy;
    border-style: outset;
    font-size: 14px;
    width: 140px;
    font-weight: 600;
}

div{
    margin: auto;
    width: 500px;
}

#spec{
    margin-top: 40px;
}

p{
    font-size: 22px;
    font-weight: 500;
    width: 400px;
    margin-left: 10px;
    color: white;
}

#hero{
    background-image: url(https://github.com/Matkronh/ToDoList/blob/main/imgs/e.jpg?raw=true);
    background-size: 80%;
    background-position-x: center;
    width: 550px;
    border-radius: 25px;
    border-style: inset;
    padding: 20px;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 1cm, 4, 5, 10;
    text-decoration:underline;
    background-image: url(https://github.com/Matkronh/ToDoList/blob/main/imgs/starfield.jpg?raw=true);
    border-radius: 35px;
    padding: 10px;
    padding-bottom: 15px;
    border-style: groove;
}

input{
    margin-left: 55px;
    margin-right: 20px;
    height: 25px;
    border-radius: 10px;
    border-style: ridge;
}